.body {
  height: 100vh;
  background-color: #d1ecf8;
  text-align: center;
  align-items: center;
  padding-top: 15px;
}
.formBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 40vh;
  width: auto;
  border: solid;
  border-color: rgb(185, 184, 184);
  border-width: 1px;
  margin-left: 20%; 
  margin-right:20%;
  justify-content: center;
}

.signinForm {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 200px);  
  grid-gap: 16px;
  line-height: 10px;
}
.LoginLabel {
  margin: 5px;
  grid-column-start: 1;
  text-align: right;
}
.LoginInput {
  grid-column-end: span 1;
  grid-row-end: span 1;
  border: 1px solid #090808;
  overflow: auto;
  max-height: 500px;
  
}

.LoginButton {
  margin: 10px;
  width: 90px;
}
.signinWrapper {
  text-align: center;
}
.signupButton {
  width: 90px;
}
.errorWrapper {
  justify-content: center;
  text-align: center;
  display: grid;
}
.errorContainer {
  background-color: rgb(252, 247, 238);
  height: max-content;
  width: max-content;
  padding-inline: 10px;
  line-height: 30px;
}