.accountDetailsGrid {
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: max-content max-content;  
    grid-gap: 16px;
    line-height: 20px;
    justify-content: center;
}
 .description {
    /* background-color: aqua; */
    text-align: right;
 }
 .item {
    /* background-color:aquamarine; */
 }
 .accountHeader {
    text-align: center;
 }
 .accountPage {
    padding-top: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
 }
 .linkTag {
    display: grid;
    text-align: center; 
    justify-content: center;
 }
 .signoutButton {
    width: max-content;
    margin: 25px;
 }
 .callToActionRow {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .AccountButton {
   margin: 10px;
   height: 30px;
 }