.homeBody {
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    justify-content: center;
    text-align: center;
}
.linkTag {
}
.signoutButton {
}
.welcome {
    font-family: Georgia;
}
@media (max-width: 1000px) {
    .welcome {
        font-family: Georgia;
    font-size: large;
    }
}