.h2 {
  font-family: Georgia;
}

.body {
  height: 100vh;
  justify-content: center;
  display: flex
}
.formBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 40vh;
  width: auto;
  border: solid;
  border-color: rgb(185, 184, 184);
  border-width: 1px;
  margin-left: 20%; 
  margin-right:20%;
  justify-content: center;
}

.signinForm {
  margin-top: 15px;
  line-height: 15px;
  list-style-type: none;
}
.li {
  display: flex;
  justify-content: flex-end;
  padding: .5em

}
.li > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
.li > input {
  flex: 1;
}

.signinWrapper {
  text-align: center;
}
.signupButton {
  width: 90px;
}
.errorWrapper {
  justify-content: center;
  text-align: center;
  display: grid;
}
.errorContainer {
  background-color: rgb(252, 247, 238);
  height: max-content;
  width: max-content;
  padding-inline: 10px;
  line-height: 30px;
}