.signup {
    height: 100vh;
    padding: 1px;
    display: flex;
    justify-content: center;
}
.signupForm {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(175px, 0fr));
    grid-gap: 16px;  
}

.FormLabel {
    margin: 5px;
    grid-column-start: 1;
    text-align: right;
    font-family: Georgia;
}

.FormInput {
    grid-column-end: auto;
    grid-row-end: auto;
    border: 1px solid #090808;
    box-shadow: 15;
    overflow: auto;
    max-height: 500px;
    font-family: Georgia;
}
.signup-header {   
    text-align: center;
    font-family: Georgia;
}

.submitWrapper {
    justify-content: center;
    display: flex;
}
.signupButton {
    margin: 20px;
    width: 90px;
}
