.page {
  background-color: beige;
  height: 100vh;
}
.header {
  text-align: center;
}
.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 70vh;
}

.signinForm {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.usernameLabel {
  margin: 5px;
}
.passwordLabel {
  margin: 5px;
}
.usernameText {
  margin: 3px;
}
.passwordText {
  margin: 3px;
}
.submitBox {
  margin: 3px;
}